@charset "UTF-8";

header, main {display: block;}

main {float: left;}

body {background: #f0f0f0; font-family: Verdana, sans-serif;}

aside {display: block; width: 350px; float: right; margin: 10px 10px 10px 30px;
padding: 10px; border-radius: 15px; background: rgb(146, 166, 252); border: 1px solid #ccc; 
text-align: center;}

header {padding: 1px 0 10px 0; background: rgb(21, 60, 233) ; color: #f2f8fa; text-align: center; height: 100px;
border-radius: 15px;}

img {margin: 10px;}

.desc {text-align: justify; margin: 15px 15px; font-size: small;}